/* * {
	box-sizing: border-box;
}
html {
	display: block;
}
body {
	color : blue;
	font-family:  serif, sans-serif;
	background-color: yellow;
	border:none;
}
*/
body {
  font-size: 16px;
  color: darkblue;
  background-color: lightyellow;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
  padding-bottom: 10px;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 10px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
  margin-bottom: 10px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list ul{
  margin-top: 10px;
  /*border-bottom: 1px solid white;*/
  /*border-top: 1px solid white;*/
}


#nav-list a {
  color: #951C49;
  text-align: center;
  /*border:1px solid white;*/
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


h1 {
    text-align:center;
    font-size: 1.75em;
}

.row {
	width:100%;
	border:none;
}
p {
 	border: none;
 	clear: right;
 	padding:5px 5px 5px 5px;
 	margin-bottom: 10px;
 }

div { 
	box-sizing: border-box;
	border: none;
   
}

.content {
	clear:right;
	border: 1px solid black;
	margin:10px;
	padding: 0px 0px 0px 8px;
	background-color: lightgrey;
	margin-bottom: 20px;
	position: relative;

}


.itemtitle
{
	font-size: 1.25em;
	text-align: center;
	height:25px;
        width:100%
        margin-bottom: 5px;
}

